<div id="<%= dom_id offer %>">
  <p>
    <strong>Title:</strong>
    <%= offer.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= offer.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= offer.active %>
  </p>

  <p>
    <strong>Limit:</strong>
    <%= offer.limit %>
  </p>

</div>
